[submodule "src/drivers/ros_can"]
	path = src/drivers/ros_can
	url = https://github.com/CastielLiu/ros_can.git
[submodule "src/drivers/gps_driver"]
	path = src/drivers/gps_driver
	url = https://github.com/CastielLiu/gps_driver.git
[submodule "src/drivers/ant_driver"]
	path = src/drivers/ant_driver
	url = https://github.com/CastielLiu/ant_driver.git
[submodule "src/msgs/perception_msgs"]
	path = src/msgs/perception_msgs
	url = https://github.com/shangjie-li/perception_msgs.git
[submodule "src/drivers/can2serial"]
	path = src/drivers/can2serial
	url = https://github.com/CastielLiu/can2serial.git
[submodule "src/msgs/obu_msgs"]
	path = src/msgs/obu_msgs
	url = https://github.com/shangjie-li/obu_msgs.git
